Importar data del dataset de iris

In [1]:
import pandas as pd
from sklearn import datasets

data = datasets.load_iris()

df = pd.DataFrame(data = data.data, columns = data.feature_names)

Azure OpenAI Python Script

In [ ]:
# Set Azure OpenAI credentials
# openai.api_type = "azure"
# openai.api_base = "https://ao-dd-lexer-test.openai.azure.com/"
# openai.api_version = "2023-07-01-preview"
# openai.api_key = "8f0b2d8e5197447ca7dde63d4cb036c6"

In [7]:
import os
from openai import AzureOpenAI
    
client = AzureOpenAI(
    api_key="",  
    api_version="2023-12-01-preview",
    azure_endpoint="https://ao-dd-lexer-test.openai.azure.com/"
)

In [16]:
system_message = "You are an assistant designed to help people answer questions"

messages_object = [{"role": "system", "content": system_message},
            {"role": "user", "content": "What's Power BI?"}]

In [17]:
chat = client.chat.completions.create(
    model="gpt-35-turbo", # model = "deployment_name".
    messages=messages_object
)

In [18]:
response = chat.choices[0].message.content

In [ ]:
# Loop through each row in Renamed Columns & concatenate the data into a single string. Pass resulting string to the API
renamed_columns = dataset

system_message = '''For each movie, I will give you the following information:
                    original title, runtime in minutes, genres, average rating, director, overview, release date, and weather it is original or not.
                    Then, you will analyze the information and write a brief summary using the movie title
                '''
for index, row in Renamed_Columns.iterrows():
    messages = [
        {
            "role": "system",
            "content": system_message
        },
        {
            "role": "user",
            "content": ''.join([str(col) for col in row])
        }
    ]
    # OpenAI Chat API
    chat = client.chat.completions.create(
    model="gpt-35-turbo", # model = "deployment_name".
    messages=messages
    )
# Process the response from API
response = chat.choices[0].message.content
# Write the response Back to the Report
renamed_columns.at[index, "result"] = response

In [26]:
import pandas as pd

# Load a csv file into a pandas DataFrame
df = pd.read_csv('Dataset.csv', on_bad_lines='skip')

In [27]:
# Take only the first 15 rows

df = df.head(15)

In [ ]:
df

In [29]:
# Remove the first 2 columns
df = df.iloc[:, 2:]

In [34]:
# Remove columns named primaryTitle and title
df = df.drop(columns=['primaryTitle', 'title', 'actor', 'actress', 'startYear'])

In [37]:
df = df.drop(columns=['numVotes'])

In [38]:
df

,originalTitle,runtimeMinutes,genres,averageRating,director,overview,release_date,isOriginal
0,Kate & Leopold,118,"Comedy,Fantasy,Romance",6.4,James Mangold,When her scientist ex-boyfriend discovers a po...,2001-12-25,True
1,The Naked Monster,100,"Comedy,Horror,Sci-Fi",5.2,"Wayne Berwick, Ted Newsom",Using soundtracks and extensive footage from m...,2005-04-22,True
2,La Telenovela Errante,80,"Comedy,Drama,Fantasy",6.5,"Ra√∫l Ruiz, Valeria Sarmiento",The film revolves around the concept of soap o...,2017-08-10,False
3,Zycie za zycie. Maksymilian Kolbe,90,"Biography,Drama",6.3,Krzysztof Zanussi,The story of catholic saint Maximilian Kolbe (...,1991-04-01,False
4,Justifiable Homicide,85,Documentary,4.3,Jon Osman,In 1995 three Puerto Rican teenagers enter an ...,2002-12-06,True
5,Sticks,92,"Comedy,Crime",5.4,Brett Mayer,"Brett Mayer - - Lillo Brancato, Justina Mach...",2001-01-01,True
6,Heartbreakers,123,"Comedy,Crime,Romance",6.2,David Mirkin,Max and Page are a brilliant mother/daughter c...,2001-03-23,True
7,Shrek,90,"Adventure,Animation,Comedy",7.9,"Andrew Adamson, Vicky Jenson",It ain't easy bein' green -- especially if you...,2001-05-18,True
8,Eyes Are Upon You,92,"Crime,Thriller",2.8,David A. Goldberg,A pair of down on their luck friends in debt t...,1997-01-01,True
9,Flophouse,75,Comedy,3.3,Chris Claridge,NaN,NaN,True
10,American Reel,100,"Drama,Music",6.8,Mark Archer,The story of an overnight success - twenty yea...,1999-01-01,True
11,The Ghost,86,"Action,Thriller",4.0,Douglas Jackson,A feared Chinese Tong soldier goes undercover ...,2001-01-01,True
12,Town & Country,104,"Comedy,Romance",4.5,Peter Chelsom,Porter Stoddard is a well-known New York archi...,2001-04-27,True
13,Nobody Knows Anything!,90,Comedy,3.2,William Tannen,An aspiring filmmaker learns that success in H...,2004-08-24,True
14,Scratch,92,"Documentary,Music",7.8,Doug Pray,A feature-length documentary film about hip-ho...,2001-11-07,True

In [39]:
# Loop through each row in Renamed Columns & concatenate the data into a single string. Pass resulting string to the API
renamed_columns = df

system_message = '''For each movie, I will give you the following information:
                    original title, runtime in minutes, genres, average rating, director, overview, release date, and weather it is original or not.
                    Then, you will analyze the information and write a brief summary using the movie title
                '''
for index, row in renamed_columns.iterrows():
    messages = [
        {
            "role": "system",
            "content": system_message
        },
        {
            "role": "user",
            "content": ''.join([str(col) for col in row])
        }
    ]
    # OpenAI Chat API
    chat = client.chat.completions.create(
    model="gpt-35-turbo", # model = "deployment_name".
    messages=messages
    )
# Process the response from API
response = chat.choices[0].message.content
# Write the response Back to the Report
renamed_columns.at[index, "result"] = response

NameError: name 'Renamed_Columns' is not defined